<h1>Congratulations, <%= @dm.dm_name.capitalize %>!</h1>

<h2>You have chosen, <%= @dm.campaign.campaign_name  %> for your next adventure to lead.</h2>

<h2>Just a quick reminder. If they could have avoided the situation then they deserve the consequences, no matter how servere.</h2>
