<form action="/campaigns" method="post">

  <label for="campaign-name">Campaign:</label>
  <input type="text" name="campaign_name" id="campaign-name"required>
  <br>

  <input type="submit" value="Add Campaign">

</form>
