<h1>SUCCESS!</h1>

<h2><%= @campaign.campaign_name %> was added to our library of adventures. More monsters to slay and new places to experience.</h2>
<br>
<h3>Witness the progression of our ever growing library <a href="/campaigns">here</a>.</h3>
