<h1>Hoorah!!</h1>

<h2>Welcome, <%= @player.format_name %>!</h2>

<h2>We are glad to have you join our ranks in Dungeons & Dragons.</h2>

<h3>But first, click <a href="/characters/new">here</a> to create a new character.</h3>

<h2>Now go forth and triumph!</h2>
