<form action="/players" method="post">

  <label for="first-name">First Name:</label>
  <input type="text" name="first_name" id="first-name" required>
   <br>
   <label for="last-name">Last Name</label>
   <input type="text" name="last_name" id="last-name" value="" required>
   <br>
   <input type="submit" value="Start Adventure">
</form>
