<h1>So I heard you'd like to be an adventurer.</h1>

<h2>Welcome, <%= @character.character_name %>! We can always use another companion.</h2>
<br>
<h1>BUT...</h1>
<h2>remember you are responsible for your own actions. Mercy is for the weak. And I heard that these beings whom over see your adventures arent kind to the foolish.</h2>
