<h2>You hear the loud crackling of thunder in the distance.</h2>

<h1>*Insert Thunder sound clip here*</h1>

<h2>The sound of thunder starts getting louder, almost as if approaching you. THEN.....</h2>

<h1>CRACKLE!!</h1>

<h2>Lightning strike down 10ft. infront of you, as a blinding white light blinds you. And from the light emerges... your champions/misfits.</h2>

<h1>Welcome, to.... <u><a href="/dungeon-masters/<%= @character_dm.dm_id %>/table"><%= @character_dm.dungeon_master.campaign.campaign_name %></a></u></h1>
